<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key><string>en</string>
    <key>CFBundleDisplayName</key><string>Keyer</string>
    <key>CFBundleExecutable</key><string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key><string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleIconFile</key><string>AppIcon</string>
    <key>CFBundleInfoDictionaryVersion</key><string>6.0</string>
    <key>CFBundleName</key><string>Keyer</string>
    <key>CFBundlePackageType</key><string>APPL</string>
    <key>CFBundleShortVersionString</key><string>0.1.0</string>
    <key>CFBundleVersion</key><string>1</string>
    <key>LSMinimumSystemVersion</key><string>26.0</string>
    <key>LSUIElement</key><true/>
    <key>NSMicrophoneUsageDescription</key><string>Keyer records microphone audio only while you hold the dictation shortcut and transcribes it locally on this Mac.</string>
    <key>NSUbiquitousContainers</key>
    <dict>
        <key>iCloud.com.keyer.app</key>
        <dict>
            <key>NSUbiquitousContainerIsDocumentScopePublic</key><true/>
            <key>NSUbiquitousContainerName</key><string>Keyer</string>
            <key>NSUbiquitousContainerSupportedFolderLevels</key><string>Any</string>
        </dict>
    </dict>
    <key>NSHumanReadableCopyright</key><string>Copyright © 2026 Keyer.</string>
    <key>NSPrincipalClass</key><string>NSApplication</string>
</dict>
</plist>
